/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* ===== VARIABLE CSS ===== */
/* HEIGHT NAV */
:root{
    --header-height: 4rem;
}

/* ===== COLORS ===== */
:root{
    --first-color: #ff6600;
    --second-color: #0E2431;
}

/* ===== FONT FAMILY & TYPO ===== */
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1.15rem;
    --normal-font-size: 0.938rem;
    --font-semi: 600;
}

/* ===== MARGIN ===== */
:root{
    --m-1: 0.5rem;
    --m-2: 1rem;
    --m-3: 1.5rem;
    --m-4: 2rem;
    --m-5: 2.5rem;
    --m-6: 3rem;
}

/* ===== Z INDEX ===== */
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ===== ROOT MEDIA QUERIES ===== */
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.6rem;
        --normal-font-size: 1rem;
    }
}
@media screen and (min-width: 992px){
    :root{
        --big-font-size: 3.6rem;
        --h2-font-size: 2.8rem;
        --h3-font-size: 2rem;
        --normal-font-size: 1.2rem;
    }
}
@media screen and (min-width: 1200px){
    :root{
        --big-font-size: 4rem;
        --h2-font-size: 3.2rem;
        --h3-font-size: 2.4rem;
        --normal-font-size: 1.4rem;
    }
}
@media print {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0;;
        color: black;
    }
    .header{
        display: none;
    }
    .page-header{
        background-color: #fff;
        font-size: 1rem;
    }
    .article__text{
        display: none;
    }
    .card__img{
        display: none;
    }
    .category{
        display: none;
    }
    .footer {
        display: none;
    }
    #home{
        display: none;
    }
    #contact .contact__wrapper{
        display: none;
    }

}

/* ===== BASE AND RESET ===== */
*, ::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1,h2,h3,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ===== SECTION CLASS ===== */
.section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--m-2);
    margin-bottom: var(--m-4);
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}
.section-subtitle{
    margin-top: var(--m-3);
    margin-bottom: var(--m-2);
}
.page-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    color: #fff;
}
.text-header-intro{
    color: var(--first-color);
}
.category-post{
    padding: 4px;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--second-color);
    width: fit-content;
    font-size: 0.6rem;
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    border: none;
}
.button:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}
.input{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: .7rem;
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
}

/* ===== GRID ===== */
.bd-grid{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
}

/* ===== HEADER ===== */
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/* ===== HEADER PHP - NAV ===== */
/* TOGGLE NAV */
.nav__checkbox:checked ~ .nav__menu{
    position: absolute;
    top: var(--header-height);
    max-height: 1000px;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}
.nav__checkbox{
    display: none;
}

/* NAV TEMPLATE*/
.nav{
    grid-template-columns: 50% 50%;
    grid-template-rows: var(--header-height) auto;
    column-gap: 0;
    grid-template-areas: 
    "logo toggle"
    "menu menu";
    align-items: center;
}
.nav__menu{
    grid-area: menu;
    max-height: 0;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    padding: 0;
}
.nav__logo-wrapper{
    grid-area: logo;
    padding-left: var(--m-3);
}
.nav__toggle{
    grid-area: toggle;
    justify-self: flex-end;
    padding-right: var(--m-3);
    font-size: 1.5rem;
}
.nav__list{
    margin-top: 2rem;
}
.nav__item{
    padding: 1rem 0;
    font-weight: var(--font-semi);
}
.nav__item a{
    color: #fff;
    font-size: var(--h2-font-size);
}
.nav__logo{
    font-weight: var(--font-semi);
}
.social__bar{
    font-size: var(--big-font-size);
}

/* ===== INDEX PHP ===== */
/* HOME SECTION */
.home{
    grid-template-rows: 40% 10% auto;
    height: calc(100vh - var(--header-height));
    row-gap: 1rem;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), 
        center / cover no-repeat url("/assets/img/high-def/outdoor-basket.webp");
    padding: 0 var(--m-3);
    color: #fff;
}
.home__data{
    align-self: flex-end;
}
.home__title{
    font-size: var(--big-font-size);
    margin-bottom: var(--m-1);
}
.home__title-color{
    color: var(--first-color);
}

/* ABOUT SECTION */
.about__container{
    row-gap: 2rem;
    margin: 0 2rem;
    text-align: center;
}
.about__img{
    justify-self: center;
}
.about__img img{
    width: 300px;
    border-radius: .5rem;
}
.content__wrapper{
    margin: var(--m-2) 0;
}

/* NEWS SECTION */
.news__card{
    row-gap: .5rem;
    margin: 0 2rem;
}
.card__img img{
    border-radius: .5rem;
}

/* NEWSLETTER SECTION */
.newsletter__container{
    margin: 0 2rem;
}
.newsletter__input{
    width: 100%;
    margin: var(--m-2) 0;
}
.newsletter__button{
    display: block;
}
.card__text{
    text-align: justify;
}

/* ===== CLUB PHP ===== */
.blog__text{
    text-align: justify;
    margin: 1rem;
}


/* ===== CONTACT PHP ===== */
.contact{
    margin: auto var(--m-4);
}

.form__field{
    display: flex;
    flex-direction: column;
}
.form__field label{
    font-weight: var(--font-semi);
    padding: 1rem 0 .4rem 0;
}
.contact__button{
    margin: 1rem 0;
}
.contact__infos{
    margin-top: 2rem;
}
.contact__infos a{
    color: rgb(0, 0, 0);
}
.contact__address{
    padding-top: 1rem;
}
.contact__map iframe{
    width: 100%;
    height: 350px;
}

/* ===== BLOG PHP ===== */
.news__feed{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.news__feed .card__img{
    width: 35%;
}
.news__feed .card__img img{
    border-radius: 0;
}
.news__feed h3{
    font-size: var(--normal-font-size);
}
.main__news select{
    padding: 0.4rem;
    margin: 0 2rem;
}
/* .news__feed .category-post{
    font-size: ;
} */



/* ===== ARTICLE PHP ===== */
.article__text{
    display: none;
}
.club .card__img{
    width: 80%;
    margin: 2rem auto;
}




/* ===== FOOTER PHP ===== */
.footer{
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}
.social__footer__bar{
    font-size: var(--big-font-size);
}
.social__icon{
    color: #fff;
    padding: 0 1.5rem;
}
.legal{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
.legal__link a{
    color: #fff;
}


/* ===== RESPONSIVE ===== */
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    
    /* generic class */
    body{
        margin: 0;
    }
    .section-title{
        margin-bottom: var(--m-6);
    }
    .section-title::after{
        width: 80px;
        top: 3rem;
    }
    .page-header{
        margin-top: 4rem;
        padding: 4rem 0;
    }

    /* nav section */
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: initial;
        opacity: 1;
    }
    .nav__menu{
        max-height: inherit;
        /* padding-right: 2rem; */
        opacity: 1;
    }
    .nav__item{
        padding-right: 2rem;
    }
    .nav__item a{
        font-size: var(--normal-font-size);
        color: rgb(0, 0, 0);
    }
    .nav__toggle{
        display: none;
    }
    .social__bar{
        display: none;
    }
    .nav__list{
        display: flex;
        margin: 0;
    }

    /* home section */
    .home{
        grid-template-rows: auto max-content;
        height: 100vh;
    }

    /* about section */
    .about__container{
        grid-template-columns: 1fr 1fr;
        text-align: initial;
    }
    .about__img img{
        width: 350px;
    }

    /* news section */
    .main__news select{
        padding: 0.4rem;
        margin: 0 2rem;
    }

    /* footer section */
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .newsletter__container{
        display: flex;
        justify-content: center;
    }
    .newsletter__form{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 450px;
    }
    .legal{
        grid-column: span 2;
    }

    /* contact php */
    .contact{
        margin: auto 8rem;
    }
    .contact__form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form__field:nth-child(1),
    .form__field:nth-child(2){
        flex-basis: 45%;
    }
    .form__field:nth-child(3),
    .form__field:nth-child(4){
        flex-basis: 100%;
    }

    /* blog php */
    .main__news{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .category{
        /* height: 1.5rem; */
        align-self: flex-end;
    }
    .news__feed{
        margin: 1rem 0;
    }
    .main__news .section:nth-last-of-type(1){
        margin-top: 30%;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .nav{
        height: 5rem;
    }
    .section-title::after{
        width: 100px;
        top: 4rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .bd-grid{
        max-width: none;
    }
    .nav{
        height: 6rem;
    }
    .section{
        padding: 6rem;
    }
    .section-title::after{
        width: 120px;
        top: 5rem;
    }
    .page-header{
        padding: 6rem 0;
    }
    .about__img img {
        width: 500px;
    }

    /* contact php */
    .contact__map iframe{
        height: 500px;
        margin-bottom: 0;
    }
    .main__news .section{
        padding: 1rem;
    }
    .news{
        padding: 3rem;
    }
    

}

