/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* ===== VARIABLE CSS ===== */
/* HEIGHT NAV */
:root{
    --header-height: 4rem;
}

/* ===== COLORS ===== */
:root{
    --first-color: #ff6600;
    --second-color: #0E2431;
}

/* ===== FONT FAMILY & TYPO ===== */
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1.15rem;
    --normal-font-size: 0.938rem;
    --font-semi: 600;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.6rem;
        --normal-font-size: 1rem;
    }
}

/* ===== MARGIN ===== */
:root{
    --m-1: 0.5rem;
    --m-2: 1rem;
    --m-3: 1.5rem;
    --m-4: 2rem;
    --m-5: 2.5rem;
    --m-6: 3rem;
}

/* ===== Z INDEX ===== */
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ===== BASE AND RESET ===== */
*, ::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1,h2,h3,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ===== SECTION CLASS ===== */
.section{
    padding-top: var(--header-height);
    padding-bottom: 2rem;
}
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--m-2);
    margin-bottom: var(--m-4);
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}
.section-subtitle{
    margin-top: var(--m-3);
    margin-bottom: var(--m-2);
}
.category-post{
    text-transform: uppercase;
    color: var(--first-color);
    font-weight: var(--font-semi);
}

/* ===== GRID ===== */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
}

/* ===== HEADER ===== */
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/* ===== NAV ===== */
/* TOGGLE NAV */
.nav__checkbox:checked ~ .nav__menu{
    position: absolute;
    top: var(--header-height);
    max-height: 1000px;
    height: 100vh;
    width: 100%;
    background-color: rgba(14, 36, 49, .8);
    opacity: 1;
}
.nav__checkbox{
    display: none;
}

/* NAV TEMPLATE*/
.nav{
    grid-template-columns: 50% 50%;
    grid-template-rows: var(--header-height) auto;
    column-gap: 0;
    grid-template-areas: 
    "logo toggle"
    "menu menu";
    align-items: center;
}
.nav__menu{
    grid-area: menu;
    max-height: 0;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    padding: 0;
}
.nav__logo-wrapper{
    grid-area: logo;
    padding-left: var(--m-3);
}
.nav__toggle{
    grid-area: toggle;
    justify-self: flex-end;
    padding-right: var(--m-3);
    font-size: 1.5rem;
}
.nav__list{
    margin-top: 2rem;
}
.nav__item{
    padding: 1rem 0;
    font-weight: var(--font-semi);
}
.nav__item a{
    color: #fff;
    font-size: var(--h2-font-size);
}
.nav__logo{
    font-weight: var(--font-semi);
}

/* ===== HOME SECTION ===== */
.home{
    grid-template-rows: 40% 10% auto;
    height: calc(100vh - var(--header-height));
    row-gap: 1rem;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), 
        center / cover no-repeat url("/assets/img/floor-basketball-ball.jpg");
    padding: 0 var(--m-3);
    color: #fff;
}
.home__data{
    align-self: flex-end;
}
.home__title{
    font-size: var(--big-font-size);
    margin-bottom: var(--m-1);
}
.home__title-color{
    color: var(--first-color);
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
}
.button:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/* ===== ABOUT SECTION ===== */
.about__container{
    row-gap: 2rem;
    margin: 0 2rem;
    text-align: center;
}
.about__img{
    justify-self: center;
}
.about__img img{
    width: 300px;
    border-radius: .5rem;
}

/* ===== NEWS SECTION ===== */
.news__card{
    row-gap: .5rem;
    margin: 0 2rem;
}




/* ===== CONTACT SECTION ===== */
.newsletter__container{
    margin: 0 2rem;
}
.newsletter__input{
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin: var(--m-2) 0;
}
.newsletter__button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

/* ===== FOOTER ===== */
.footer{
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}
.social__bar{
    font-size: var(--big-font-size);
}
.social__icon{
    color: #fff;
    padding: 0 1.5rem;
}
.legal{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
.legal__link a{
    color: #fff;
}
